#Full python practice

In [1]:
print('Hello')

Hello

In [ ]:
def test():
   a=10
   b=20
   c=a+b
   print(c)
   test()

In [ ]:
a=10
print(a)

10

In [ ]:
b=20
print(b)

20

In [ ]:
print("this is first no")

this is first no

# Seperator argument

In [ ]:
print(a,b)
print(a,b,sep=" ")#by default value of separator is 1

10 20
10 20

In [ ]:
#\b tab space
#\b backward

#Input function=it is responsible for takin input from user

In [ ]:
input()

22

'22'

In [ ]:
input("first number:")

first number:22

'22'

In [ ]:
a=input("please write any number:")

please write any number:hhh

#Identifiers

Any class name functin name module name and variable called identifiers

In [ ]:
a=10
print(a)

10

In [ ]:
if a>5:
   print("Rohit")

Rohit

#Datatype

Datatype in python is dynamic

1.Numeric
2.Boolean
3.Sequence
4.Set
5.Mapping
6.None,
python han 14 datatype

Numeric=int,float,complex

Boolean=bool

Sequence=str,list,bytes,bytearray,tuple,range

Set=set,frozenset

Mapping=dict

None=nonetype

In [ ]:
a=2

In [ ]:
import sys
sys.getsizeof(a)

28

In [ ]:
msg = 'Rohit's python classes'

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-3262172779.py, line 1)

In [ ]:
msg = "Rohit's python classes"

In [ ]:
y = """let's learn "python" """
print(y)
type(y)

let's learn "python"

str

In [ ]:
y = 'let\'s learn "pyton" '
print(y)

let's learn "pyton"

In [ ]:
my_string= """my
            name
            is
            rohit"""
print(my_string)

my
            name
            is
            rohit

#Type conversion

In [ ]:
a=100
type(a)

int

In [ ]:
float(a)

100.0

In [ ]:
a='10'
b='20'
c = a+b
print(c)
type(a)

1020

str

In [ ]:
x=int('10')
type(x)

int

In [ ]:
x=int(input("enter the 1st number"))
y=int(input("enter the second number"))
z=x-y
print(z)

enter the 1st number33
enter the second number11
22

#Indexing

In [ ]:
a="Rohit"
a[1]#forwar indexing starting with 0 and negative indexing from -1
a[-2]
a[0]
len(a)

5

#concatenation

In [ ]:
a="Rohit"
b="Shipli"
a+b
a+" "+b

'Rohit Shipli'

#Slicing

In [ ]:
a="Ashutosh"
#indexing 01234567
len(a)-1#last index value

7

In [ ]:
a[2:5]#index 2to 4

'hut'

In [ ]:
a[:3]

'Ash'

In [ ]:
a[2:2]#empty string

''

#Step value

In [ ]:
a="My name is Rohit"
a[11:]

'Rohit'

In [ ]:
a[0:17:3] #3 means print 3rd word by default step value is 1 step value can be +ve and -ve

'Mnesot'

In [ ]:
a = "We are here for learning data science"
a[-1:-22:-1]

'ecneics atad gninrael'

#Arithmatic operator

In [ ]:
x=5
y=2
print(x**y)
print(x//y)

25
2

In [ ]:
print(7>6>5)

True

#Formate specifier

int %d,float%f,string%s

In [ ]:
name="Rohit"
print(name)

Rohit

In [ ]:
print("hello %s" %(name))

hello Rohit

In [ ]:
a=10

In [ ]:
print("value of a is %d" %a)

value of a is 10

In [ ]:
#Simple pythonic way
var = 10
name="Rohit"
print("valur of variable is (a) and the name is (b).format(a=var,b=name)")

valur of variable is (a) and the name is (b).format(a=var,b=name)

In [ ]:
a=10
b=20
print("value of a is{} value of b is {}".format(a,b))

value of a is10 value of b is 20

#Decision control statements

These aare those statement whichndecide the execution flow of ouur program

#1.If statement

In [ ]:
x=50
if x>50:
  print("we are in")

In [ ]:
x=50
if x<50:
print("we are boss")

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-2631614053.py, line 3)

In [ ]:
x=50
if x==50:
  print("RoHit")

RoHit

In [ ]:
if x>50:# with one if only one else
    print("we are in")
else:
  print("we are out")

we are out

In [ ]:
a=50
if a>50:
  print("we are in first if")
elif a<50:
  print("we are in second if")
elif a==50:
  print("we are in third f")
else:
  print("we are out")

we are in third f

In [ ]:
a=50 #use if if if is the complete blockage of execution agar a ==50 kr de to 3 print hoga sab
if a>50:
  print("we are in first if")
if a<50:
   print("we are in second if")
if a==50:
  print("we are in third f")

we are in third f

In [ ]:
#even or odd

In [ ]:
x=int(input("enter the number"))
if x%2==0:
  print("even")
else:
  print("odd")

enter the number5
odd

In [ ]:
#WAP to accept a character from the user check it is capil or samll

In [ ]:
ch=input("enter the letter")
if "A"<=ch<="Z":
  print ("this character will be a capital")
else:
      print("this character will be a small one")
ch[0]

enter the letterSgu
this character will be a capital

'S'

#Nestef if

In [ ]:
#nested if :if inside if

In [ ]:
a=100
b=200
if a<110:
  print("we are in 1st")
  if b<199:
    print("we are in 2nd")

we are in 1st

In [ ]:
if:
elif:
elif:
 else:

In [ ]:
x=100
y=500
z=200
x=int(input("enint(ter first no"))
y=int(input("enter second numbery"))
z=int(input("enter third number"))
if x>y:
  if x>z:
    print("x will be greatest")
elif y>z:
  if y>z:
    print("y is the greatest one")
else:
  print("z is greatest")

enint(ter first no30
enter second numbery44
enter third number67
z is greatest

#Iterative statement

There may be a situation when we need to execute a block of code several number of time.

#Loops in python

1.While loop
2.For(iterative) loop

In [ ]:
#While loop
x=10
i=1
while i<x:
  print("Rohit")
  i=i+1

Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit
Rohit

In [ ]:
x=50
i=0
while i<x:
  i=i+1
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
n =input("enter a name")
i=0
while i<len(name):
 # if n[a]!='a'and n[a]!='i' and n[a]!='o' and n[a]!='u':
   # print(n[a])
   if name[i] in ["a","e","i","o","u"]:
    pass
else:
    print(name[i])
    i=i+1

enter a namefh

NameError: name 'name' is not defined

In [ ]:
#
i=1
while i<=50:
  print(i)
  if i==40:
    break
  i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [ ]:
i=1
while i<=50:
  print(i)
  i=i+1
else:
  print("loop end")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
loop end

In [ ]:
i=1
while i<=50:
  print(i)
  if i==40:
    break
  i=i+1
else:
  print("loop end")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [ ]:
i=1
while i<=50:
  print(i)
  if i==40:
    continue
  i=i+1
else:
  print("loop end")

Streaming output truncated to the last 5000 lines.
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40

In [ ]:
#split
text = "I write code"
text.split()

['I', 'write', 'code']

In [ ]:
#split (separator,maxsplit)
text = "I write code"
text.split(maxsplit=1)

['I', 'write code']

In [ ]:
x="I write code"
word1,word2,word3=x.split() #number of variable on left os assignment operator and no of value generated by split is same
print(word1)
print(word2)
print(word3)

I
write
code

In [ ]:
s1="s,b,n,t"
print(s1.split(' ',2))

['s,b,n,t']

In [ ]:
s2='one#Two#three#four'
s2.split('#')

['one', 'Two', 'three', 'four']

#List

In [ ]:
my_list=["papaya","orange","pineapple","grapes"]
size=len(my_list)
i=5
while i<size:
  if my_list[i] == 'mango':
     print("mango found")
  break
  i=i+1
else:
    print("mango not found")

mango not found

#For loop

In [ ]:
# for loop give syntax for variable in---

In [ ]:
word="rohit"
for  it in word:
  print(it)

r
o
h
i
t

In [ ]:
x = [1,2,3,4,"a"]
type(x)

list

In [ ]:
for y in x:
  print(y)

1
2
3
4
a

In [ ]:
fruits = ["apple","orange","mango",2,True]
for i in fruits:
    print(i)

apple
orange
mango
2
True

In [ ]:
fruits =  ["apple","orange","mango","papaya"]
is_grapes=False

for i in fruits:
  if i=="grapes":
     if_grapes=True
     print("Grapes found in the fruits list")
     break
if is_grapes ==False:
   print("No grapes in the list")

No grapes in the list

In [ ]:
my_list=[14,10,12,17]
low_bound=10
upp_bound=20
for i in my_list:
  if i<low_bound or i>upp_bound:
    print("all elements are not in the limit")
    break
else:
  print("all element are in the limit")

all element are in the limit

#Range

In [ ]:
#range()function in python return range object
#this function is useful to generate sequence of number in form of list
a=range(10)
print(a)

range(0, 10)

In [ ]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range(start,stop,step)
#range(20)
#range(1,20)
#range(1,20,2)

In [ ]:
b=range(4)
print(b)
list(b)
for i in b :
   print(i)

range(0, 4)
0
1
2
3

In [ ]:
range(start,stop,step)

In [ ]:
y=range(1,6)
for i in y:
  print(i)

1
2
3
4
5

In [ ]:
y=range(1,6,2) #use 2 for zump two number
for i in y:
  print(i)

1
3
5

In [ ]:
x=range(-10)
print(x)
list(x)#start from 1 move right side always

range(0, -10)

[]

In [ ]:
a=range(10,1)
print(a)

range(10, 1)

In [ ]:
a=range(5,10,20)
print(a)
list(a)

range(5, 10, 20)

[5]

In [ ]:
for i in range(5):
  print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [ ]:
for i in range(1,10):
  print(i)
  if i%5==0:
    break
else:
      print("hiii")

1
2
3
4
5

In [ ]:
number =[1,2,3]
alpha=['a','b','c']

for n in number:
  print(n)
  for ch in alpha:
    print(ch)

1
a
b
c
2
a
b
c
3
a
b
c

In [ ]:
a=["******"]
for i in a:
  print(a)

['******']

In [ ]:
for i in range(3):
  for j in range(3):
    print('*', end=' ')
  print()

* * *
* * *
* * *

In [ ]:
for i in range(3):
  for j in range(6):
    print('*', end=' ')
  print()

* * * * * *
* * * * * *
* * * * * *

In [ ]:
for i in range(4):
   for j in range (i+1):
       print("*",end=" ")
   print(" ")

*
* *
* * *
* * * *

In [ ]:
#write the program to accept integer from the user and dispaly all number from 1to
#that number repeat the process until enter 0
num = int(input("enter the number:"))
while(num):
  for i in range(1,num+1):
    print(i)
  num = int(input("enter the number:"))

enter the number:4
1
2
3
4
enter the number:5
1
2
3
4
5
enter the number:0

#Data Structure
1.Number
2.List
3.Tuple
4.Set
5.Dictionary
6.String

#1.LIST

In [ ]:
#empty list
#we represent the list with square bracket
my_list=[]

In [ ]:
#list of integer
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#list with different data type
my_list=[1,"hello",2.5]
print(my_list)

[1, 'hello', 2.5]

In [ ]:
number="10"
type(number)

str

In [ ]:
int()
str()
bool()
list()

In [ ]:
#iterble=collection of value
list(10)

TypeError: 'int' object is not iterable

In [ ]:
list("Rohit")

['R', 'o', 'h', 'i', 't']

In [ ]:
list((10,20,30))

[10, 20, 30]

In [ ]:
list([10,20,30])

[10, 20, 30]

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9]
#access the element of list
mylist[4] #indexing for finding any number
mylist[1:4] #slicing find number from range 1to4

[2, 3, 4]

In [ ]:
#modify the existing element writing index no. and apply value
x=["apple","orange","banana"]
x[1]="papaya"
print(x)

['apple', 'papaya', 'banana']

In [ ]:
#slicing for adding 2 value at that place
x[1:3]=["grapes","gauva"]
print(x)

['apple', 'grapes', 'gauva']

In [ ]:
#concatenation
"Rohit"+"Roy"

'RohitRoy'

In [ ]:
outdoorgame=["cricket","basketball","tenis"]
indoorgame=["carrom","ludo","chess"]
allgames=outdoorgame+indoorgame
print(allgames)

['cricket', 'basketball', 'tenis', 'carrom', 'ludo', 'chess']

In [ ]:
x=["rohit","ram","raja"]
x+list(["rani"])

['rohit', 'ram', 'raja', 'rani']

In [ ]:
x+["rani"]

['rohit', 'ram', 'raja', 'rani']

In [ ]:
x*2 #every thing double

['rohit', 'ram', 'raja', 'rohit', 'ram', 'raja']

In [ ]:
x+3 #it does not work

TypeError: can only concatenate list (not "int") to list

In [ ]:
#Membership operator
#the operator in and not in
x

['rohit', 'ram', 'raja']

In [ ]:
"rohit" in x

True

In [ ]:
"rohit" not in x

False

In [ ]:
"o" in "rohit"

True

#List function

#List method

# Difference between function and method

In function passing variable in parenthesis but in method using  dot append for calling

In [ ]:
#List function
#1.len()
#2.max()
#3.min()
#4.sum()
#5.sorted()
#6.any()
#7.all()
#8.list()

In [ ]:
#List methods
#1.append()
#2.extend()
#3.insert()
#4.index()
#5.count()
#6.remove()
#7.pop()
#8.clear()
#9.reverse()
#10.sort()

#List comprehension

In [ ]:
mynums=[1,2,3,4,5,45,7,8]
len(mynums)
#len function gives me length

8

In [ ]:
#max() provide max
max(mynums)

45

In [ ]:
min(mynums)

1

In [ ]:
sum(mynums)

75

In [ ]:
sorted(mynums)

[1, 2, 3, 4, 5, 7, 8, 45]

In [ ]:
sorted(mynums,reverse=True)#for decending order

[45, 8, 7, 5, 4, 3, 2, 1]

In [ ]:
#if all the element in the list is true it will give me true otherwise false
all(mynums)

True

In [ ]:
any(mynums)

True

In [ ]:
#for adding single variable at the end
#append
primes=[2,3,5,7,11]
primes.append(13)# use dot operator to calling
print(primes)

[2, 3, 5, 7, 11, 13]

In [ ]:
animal=["dog","cat","rabbit"]
animal.append("lion")
print(animal)

['dog', 'cat', 'rabbit', 'lion']

In [ ]:
wild_animal=["tiger","fox"]
animal.append(wild_animal)
print(animal)

['dog', 'cat', 'rabbit', 'lion', ['tiger', 'fox'], 'tiger', 'fox', 'tiger', 'fox', ['tiger', 'fox']]

In [ ]:
 animal + wild_animal

['dog',
 'cat',
 'rabbit',
 'lion',
 ['tiger', 'fox'],
 'tiger',
 'fox',
 'tiger',
 'fox',
 ['tiger', 'fox'],
 'tiger',
 'fox',
 'tiger',
 'fox']

In [ ]:
#extend
#
animal.extend(wild_animal)
print(animal)

['dog', 'cat', 'rabbit', 'lion', ['tiger', 'fox'], 'tiger', 'fox', 'tiger', 'fox', ['tiger', 'fox'], 'tiger', 'fox', 'tiger', 'fox']

In [ ]:
animal[5]

'tiger'

In [ ]:
#insert
#insert(index,value)
primes=[2,3,5,7,11]
primes[3]=13 #modifyin the list here is overwrite
print(primes)

[2, 3, 5, 13, 11]

In [ ]:
#here is inert
primes.insert(3,1000)
print(primes)

[2, 3, 5, 1000, 1000, 1000, 13, 11]

In [ ]:
#count
mynums.count(0)
print(mynums)

[1, 2, 3, 4, 5, 45, 7, 8]

In [ ]:
#index
#you will get index of the given element
mynums.index(4)

3

In [ ]:
vowels=["a","e","i","o","u"]
vowels.remove("a")
print(vowels)

['e', 'i', 'o', 'u']

In [ ]:
#pop
#pop method removes and return the element at the given index
#pop method takes index and romove it from the list and return that element
fruits=["apple","banana","orange"]
fruits.pop(1)

'banana'

In [ ]:
print(fruits)

['apple', 'orange']

In [ ]:
fruits.pop(1)

'orange'

In [ ]:
fruits.clear()

In [ ]:
#sort
mylist=[243,464,836,245,636,653]
mylist.sort()
print(mylist)

[243, 245, 464, 636, 653, 836]

In [ ]:
#reverse
mylist.sort(reverse=True)
print(mylist)

[836, 653, 636, 464, 245, 243]

In [ ]:
#reverse not in decending order
mylist.reverse()
print(mylist)

[243, 245, 464, 636, 653, 836]

#List comprehension

In [ ]:
list_com =[ X for x in iterable <test_condition>] #syntax of list comprehension

iterable:
list
tuple
dict
set
string

SyntaxError: invalid syntax (ipython-input-3783317575.py, line 1)

In [ ]:
my_string="Rohit Rani"
my_list=[]
for i in my_string:
     my_list.append(i)
     print(my_string)

Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani
Rohit Rani

In [ ]:
[x for x in my_string]

['R', 'o', 'h', 'i', 't', ' ', 'R', 'a', 'n', 'i']

In [ ]:
#wap to produce square of numbers from 1to5 store them in a list and print the list

In [ ]:
mylist=[]
for x in range(1,11):
     mylist.append(x**2)
     print(mylist)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#TUPLE

For tuple use prenthesis().

In [ ]:
mytuple()

TypeError: 'tuple' object is not callable

In [ ]:
mytuple=(91,2,3,45,66,77)
print(mytuple)

(91, 2, 3, 45, 66, 77)

In [ ]:
mytuple=(1,"Rohit",10.7,True)
print(mytuple)

(1, 'Rohit', 10.7, True)

In [ ]:
mytuple=(10)
type(mytuple)

int

In [ ]:
mytuple=(10,0)
type(mytuple)

tuple

In [ ]:
#concept of packing and unpacking
a=1,2,3,4
print(a)

(1, 2, 3, 4)

In [ ]:
x,y,z,h=a
print(a)#concept of packing and unpacking

(1, 2, 3, 4)

In [ ]:
mytuple=(1,3,5,6,54,56,3,5,8,23)
print(mytuple)

(1, 3, 5, 6, 54, 56, 3, 5, 8, 23)

In [ ]:
mytuple[5]

56

In [ ]:
mytuple[8]

8

In [ ]:
mytuple[-3]

5

In [ ]:
mytuple[3:6]

(6, 54, 56)

In [ ]:
mytuple[4:1:-1]

(54, 6, 5)

In [ ]:
mytuple[3]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
mynum=[[1,2],3,4,5,66,7]
mynum[0][1]

2

In [ ]:
mynum=([1,2],3,4,5,66,7)
mynum[0][1]=100
print(mynum)

([1, 100], 3, 4, 5, 66, 7)

In [ ]:
mytuple=(100,200,300,400,500)
mytuple=(1,2,3,4,5)
print(mytuple)

(1, 2, 3, 4, 5)

In [ ]:
del(mytuple[3])

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#indivisual del not possible total del
del(mytuple)
print(mytuple)

NameError: name 'mytuple' is not defined

In [ ]:
#Function in tuple
#len()
#max()
#min()
#sum()
#sorted()
#any()
#all()
#tuple()

In [ ]:
mytuple=(1,2,3,4,5,6,7,8,9)
len(mytuple)

9

In [ ]:
max(mytuple)

9

In [ ]:
sum(mytuple)

45

In [ ]:
sorted(mytuple)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sorted(mytuple,reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#at least one element should be true
any(mytuple)

True

In [ ]:
#all element should be true
all(mytuple)

True

In [ ]:
#iterable:iterable is a object on tope that we can iterate
tuple("rohit")

('r', 'o', 'h', 'i', 't')

In [ ]:
#method for tuple
#append() not allowed
#extent() not work
#insert()not work
#count() work
#index()work
#clear() not work
#pop()not work
#sort() not work
#reverse()not work
#remove() not work

In [ ]:
mytuple=(1,33,45,75,78,23)
mytuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
mytuple.insert(3,4)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
mytuple.count(1)

1

In [ ]:
mytuple=(1,2,3,4,5)
mytuple.index(4)

3

In [ ]:
mytuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
mytuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
#membership operator in and not in work with tuple
mytuple=("a","e","i","o","u")
'a' in mytuple

True

In [ ]:
odd=(1,3,5)
even=(2,4,6)
odd+even

(1, 3, 5, 2, 4, 6)

In [ ]:
id(odd+even)

140428651633952

In [ ]:
#multiplication of element
a=(10,30,40)
a*3

(10, 30, 40, 10, 30, 40, 10, 30, 40)

In [ ]:
#relational operators
a=(1,3,4)
b=(3,4,5)
a<b

True

#SET

In [ ]:
#1.can't keep duplicate value
#2.we can't use subscript operator(no indexing,slicing)
#3.set is unordered collection

In [ ]:
mylist=[1,3,2,444,45,]#access with index this is possible
mytuple=(1,3,5,3,5)#access with index this is possible
myset={1,2,3,4,5}#not indexing not slicing
type(mylist)

list

In [ ]:
type(mytuple)

tuple

In [ ]:
type(myset)

set

In [ ]:
myset={1,2,3,56,4,2,4,24,33}#canot do dublicate value
print(myset)

{1, 2, 3, 4, 33, 56, 24}

In [ ]:
myset={1,"heool",10.3}
print(myset)

{1, 10.3, 'heool'}

In [ ]:
#i can cass any iterable to this set function
set(<iterable>)

In [ ]:
set=([1,2,3,4,5,6])
print(set)

[1, 2, 3, 4, 5, 6]

In [ ]:
#if i can add something in set there is add()
myset.add(100)
print(myset)

{1, 10.3, 100, 'heool'}

In [ ]:
#clear()
myset.clear()
print(myset)

set()

In [ ]:
#copy()
myset={1,33,54,554,65}
myset.copy()

{1, 33, 54, 65, 554}

In [ ]:
#pop(),Remove(),update()

#STRING

In [ ]:
mystring="Rohit"
print(mystring)

Rohit

In [ ]:
mystring1='Rohit'
print(mystring1)

Rohit

In [ ]:
mystring="i
love
python"

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-3102979428.py, line 1)

In [ ]:
#multiline string in triple quote
mystring='''i
love
python'''
print(mystring)

i
love
python

In [ ]:
mystring=" "
print(mystring)

In [ ]:
mystring="i love coding"#start with 0
len(mystring)

13

In [ ]:
print(mystring[4])

v

In [ ]:
mystring[2:6]

'love'

In [ ]:
#wap for reverse the string
name="Rohit"
for i in range(len(name)-1,-1,-1):
  print(name[i])

t
i
h
o
R

In [ ]:
name=input("write your name")
name="Rohit"
for i in range(len(name)-1,-1,-1):
  print(name[i])

write your namerohit
t
i
h
o
R

In [ ]:
#concatenation use+ operator
"Rohit"+" ""Rani"

'Rohit Rani'

In [ ]:
"rohit"*2

'rohitrohit'

In [ ]:
mystring="i love my india"
"love" in mystring

True

In [ ]:
"rohit"=="rani"

False

In [ ]:
"free"!="freedom"

True

In [ ]:
"arron">"aron"

True

In [ ]:
#is and is not
a="rohit"
b="rohit"
a is b

True

In [ ]:
c="sweta"
a is c

False

#function in string

In [ ]:
#len()
#max()
#min()
#chr()
#ord()

In [ ]:
mystring="Rohit Rani"
print(len(mystring))

10

In [ ]:
max(mystring)

't'

In [ ]:
min(mystring)

' '

In [ ]:
chr(114)#pssing unicode value give original value

'r'

In [ ]:
ord(" ")#passing original value giving unicodevalue

32

In [ ]:
ord("r")

114

#methods of the string

In [ ]:
#capitalize():return a copy of the string with 1st charcter capital rest lower
name="rohit"
newname=name.capitalize()
print(newname)

Rohit

In [ ]:
#lower() all in lower case
#upper()all in upper case
name="Rohit Rani"
name.lower()

'rohit rani'

In [ ]:
name.upper()

'ROHIT RANI'

In [ ]:
#swapcase() lower into , upper into lower
name="rohit RanI"
name.swapcase()

'ROHIT rANi'

In [ ]:
#title() all word begin with upper case and rest in lower case
text="i lOVe  pYthoN"
text.title()

'I Love  Python'

In [ ]:
#islower() check kya all lower h
#isupper() kya sab upper me h
name="rohit"
name.islower()

True

In [ ]:
name.isupper()

False

In [ ]:
#isalpha() true if only contain alphabet

In [ ]:
string="my name is ronit age 46"
string.isalpha()

False

In [ ]:
name="Riya"
name.isalpha()

True

In [ ]:
#isdigit() contain only digit true return
string="12345678"
string.isdigit()

True

In [ ]:
#isalnum() true if string contain only alphanumeric character
string="Rohit"
string.isalnum()

True

In [ ]:
string="hih223"
string.isalnum()

True

In [ ]:
string1="rohit123"
string2="Rohit"
string3="12345"
string4="Rohit123 Rani"
string5="diwi@"

In [ ]:
print(string1.isalnum())
print(string2.isalnum())
print(string3.isalnum())
print(string4.isalnum())
print(string5.isalnum())

True
True
True
False
False

In [ ]:
#isspace()
string="s"
string.isspace()

False

In [ ]:
srting=" "
string.isspace()

False

In [ ]:
srtring="i love kohli"
string.isspace()

False

In [ ]:
#startswith()
#endswith()
text="i love python"
text.startswith("i")

True

In [ ]:
text.endswith("e")

False

In [ ]:
#index()
text="kohli is best cricketer"
text.index("is")

6

In [ ]:
text.index("best")

9

In [ ]:
#count()
name="python is best"
name.count("is")

1

In [ ]:
#split()
text="i love my india"
text.split()

['i', 'love', 'my', 'india']

In [ ]:
#join()
" ".join(["R","o","h","i","t"])

'R o h i t'

In [ ]:
"$".join(["R","o","h","i","t"])

'R$o$h$i$t'

In [ ]:
name="rohit"
age=23
print("My name is",name,"and my age is",age)

My name is rohit and my age is 23

In [ ]:
print("My name is {0} and my age is{1}".format(name,age))

My name is rohit and my age is23

In [ ]:
#f-string or string interpolation
print(f"My name is {name} my age is {age}")

My name is rohit my age is 23

In [ ]:
a=10
b=20
print(f"my num is {a} my num is {b} and max num is {max(a,b)}" )

my num is 10 my num is 20 and max num is 20

#Dictionary

dict is a collection which hold data in pair yhat pair will be in key and value.
e.g=rollno->student name
name->mobile number

In [ ]:
#syntax of dictionary
dict = {key1:value1,
 key2:value2
 ......
 keyn:valuen
}

In [ ]:
mydict={}
type(mydict)

dict

In [ ]:
#dict of int key
mydict={1:"rohit",2:"ram"}
print(mydict)

{1: 'rohit', 2: 'ram'}

In [ ]:
mydict={1:"ram","a":"vijay"}
print(mydict)

{1: 'ram', 'a': 'vijay'}

In [ ]:
mydict={"rohit":["c","c++"],"rani":["java","ck"]}
print(mydict)

{'rohit': ['c', 'c++'], 'rani': ['java', 'ck']}

In [ ]:
mydict["rani"] #for getting value pass key or value

['java', 'ck']

In [ ]:
mydict.get("rohit")

['c', 'c++']

In [ ]:
student_data={1:"raja",2:"sivam",3:"sonu",4:"rohit",5:"holo"}
print(student_data)

{1: 'raja', 2: 'sivam', 3: 'sonu', 4: 'rohit', 5: 'holo'}

In [ ]:
for x in student_data:#bydefault give key
  print(x)

1
2
3
4
5

In [ ]:
for x in student_data.values():
  print(x)

raja
sivam
sonu
rohit
holo

In [ ]:
for x in student_data.items():
  print(x)

(1, 'raja')
(2, 'sivam')
(3, 'sonu')
(4, 'rohit')
(5, 'holo')

In [ ]:
if we want to update any new key value pair in dict we use subscript operator or update function.

In [ ]:
student_data[6]="silpi"
print(student_data)

{1: 'raja', 2: 'sivam', 3: 'sonu', 4: 'rohit', 5: 'holo', 6: 'silpi'}

In [ ]:
student_data.update({7:"zoya"})
print(student_data)

{1: 'raja', 2: 'sivam', 3: 'sonu', 4: 'rohit', 5: 'holo', 6: 'silpi', 7: 'zoya'}

In [ ]:
student_data[2]="ramraj"
print(student_data)#if key is notavailabe then it will created if availabe it will override

{1: 'raja', 2: 'ramraj', 3: 'sonu', 4: 'rohit', 5: 'holo', 6: 'silpi', 7: 'zoya'}

#function for the dict

In [ ]:
#len()
#max()
#min()
#any()
#sorted()
#dict()

In [ ]:
#len()
len(student_data)

7

In [ ]:
max(student_data.values())#by default show key

'zoya'

#methods in dict

In [ ]:
#clear
#copy
#setdefaut()
#get()
#keys()
#values()
#iteams()
#update()
#pop()
#popitem()

In [ ]:
sixmonths={"jan":31,"Feb":28,"mar":31,"apr":30,"may":31,"june":30}
print(sixmonths)

{'jan': 31, 'Feb': 28, 'mar': 31, 'apr': 30, 'may': 31, 'june': 30}

In [ ]:
sixmonths.pop("jan")

31

In [ ]:
print(sixmonths)

{'Feb': 28, 'mar': 31, 'apr': 30, 'may': 31, 'june': 30}

In [ ]:
sixmonths.popitem()

('june', 30)

In [ ]:
#kwargs

#Function part1

In [ ]:
#what is function.
#how to write function in python
#argument vs parameter in function
#local and global variable in function
#lambda function
#map and filter function

In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
a=10
b=20
c=a-b
print(c)

-10

In [ ]:
a=input("enter first number")
b=input("enter second number")
c=int(a)+int(b)
print(c)

enter first number10
enter second number20
30

In [ ]:
def addtwonumber():#addtwonumber if function name
    a=10
    b=20
    c=a-b
    print(c)
    addtwonumber()#this is function cll

In [ ]:
print(c)

30

In [ ]:
def addtwonumber():
    a=input("enter first number")
    b=input("enter second number")
    c=int(a)+int(b)
    print(c)
    addtwonumber()

In [ ]:
def multwonumber(x,y):
    a=x
    b=y
    c=a*b
    print(c)

In [ ]:
multwonumber(4,5)

20

In [ ]:
A=int(input("enter first number"))
B=int(input("enter second number"))
multwonumber(A,B)

enter first number299
enter second number829
247871

In [ ]:
# write a function called absolute () to accept an integer as argument value.
# Finally call it to get the absolute value of-7to9
def absolute(n):
    if n>0:
       return n
    else:
        return -n

In [ ]:
value=int(input("enter number"))
absolute(-value)

enter number467297

467297

In [ ]:
def fullname(a,b):
    c=a+b
    print(c)

In [ ]:
myvariable=fullname("Rohit","Rani")

RohitRani

In [ ]:
print(myvariable)

None

In [ ]:
#by default function return none .

In [ ]:
def fullname(a,b):
    c=a+b
    print(c)
    return "ram"

In [ ]:
myvariable=fullname("Rohit","Rani")

RohitRani

In [ ]:
print(myvariable)

ram

In [ ]:
#call the functorial() functon to calculate and return the factorial of the given number by the user

In [ ]:
def factorial(n):
  f=1
  while n>1: #5>1,4>1,3>1,2>1,1>1(false)
       f=f*n #5*1=5,5*4=20 20*3=60 60*2=120
       n=n-1 #4 3 2 1
  return f

In [ ]:
factorial(5)

120

In [ ]:
#positional argument
def nos(a,b,c,d):
  return a*b*c*d

In [ ]:
nos(10,20,30,40)

240000

In [ ]:
#keyword argument
def nos(a,b,c,d):
  return a*b*c*d

In [ ]:
nos(a=10,b=20,c=30,d=40)

240000

In [ ]:
mynum=nos(a=10,b=20,c=30,d=40)

In [ ]:
print(mynum)

240000

In [ ]:
#default argument
def nos(a,b,c=0,d):
  return a*b*c*d
nos(1,2,3,4)

SyntaxError: parameter without a default follows parameter with a default (ipython-input-3217306655.py, line 2)

In [ ]:
def nos(a,b,d,c=0):
  return a*b*c*d
nos(1,2,3,4)

24

In [ ]:
#variable length argument
def nos(a,b,c,d,e):
  return a*b*c*d*e

In [ ]:
nos(10,20,30,40)

TypeError: nos() missing 1 required positional argument: 'e'

In [ ]:
#function overloading python does not support function overloading
#it will always take recent defination

In [ ]:
nos(10,20,30,40,50)

12000000

In [ ]:
def nos(*a):
  return a

In [ ]:
nos(10,20,30,40,50,60)#many value pass throu a vriable

(10, 20, 30, 40, 50, 60)

In [ ]:
def attach(s1,s2):
  s3=s1+s2
  print("joined string is:",s3)

attach("Good","night")

joined string is: Goodnight

In [ ]:
def grocery(name,price):
  print("item is",name,"it's price is",price)

grocery(price=150,name="Butter")

item is Butter it's price is 150

In [ ]:
def cal_area(radius,pi=3.14):
  return pi*(radius**2)

In [ ]:
r =int(input("enter radius"))
cal_area(r)

enter radius6

113.04

In [ ]:
s="i love python"
def f():
   print(s)
f()#function call

i love python

In [ ]:
def f():
   print(x)
x="i love python"#global variable
f()

i love python

In [ ]:
def f():
  print(y)
f()
y="i love S"

NameError: name 'y' is not defined

In [ ]:
def test():
  myname="Rohit"
  print(myname)
test()

Rohit

In [ ]:
def test():
  myname="Rohit"#local variable
  print(myname)
test()
print(myname)

Rohit

NameError: name 'myname' is not defined

In [ ]:
#local varible is variable which we are defining in the function in the scope will be in the function only
#globl variable is the variable which is defining outside the variable which defining outside of the function and the scope will be global

In [ ]:
a="i love python"
def f():
  a ="i love java"
  print(a)
f()
print(a)

i love java
i love python

In [ ]:
#a="i love python"
def f():
    global a
    a ="i love java"
    print(a)
f()
print(a)

i love java
i love java

In [ ]:
a="i love python"
def f():
    global a
    a ="i love javas"
    print(a)
f()
print(a)

i love javas
i love javas

In [ ]:
a="i love python"
def f():
    global b
    global c
    b ="i love javas"
    c="i love c"
    print(a)
f()
print(a)
print(b)
print(c)

i love python
i love python
i love javas
i love c

In [ ]:
myvariable="i love python"
def f():
    global myvariable
    myvariable="my name is rohit from bihar"
    print(myvariable)
f()
print(myvariable)

my name is rohit from bihar
my name is rohit from bihar

#

In [ ]:
def add (a,b):
  return a+b
  add(10,26)

#Lambda function

In [ ]:
lambda a,b:a+b

In [ ]:
print(lambda a,b:a+b)

<function <lambda> at 0x7b3c5c499620>

In [ ]:
print((lambda a,b:a+b)(2,3))

5

In [ ]:
mylambda =lambda a,b:a+b
mylambda(10,23)

33

In [ ]:
type(mylambda)

function

In [ ]:
#wap to take two values from the user and find a square of these value and use lambda fun for this operation
a=int(input("enter first number"))
b=int(input("enter second number"))
squre=lambda a,b:(a**2,b**2)
squre(a,b)

enter first number5
enter second number7

(25, 49)

In [ ]:
#lambda function
#there won't be any defination for lambda
#anonymous function
#def , lambda
#lambda[arg1,arg2,....argn]:[expression]

In [ ]:
#wap a lambda function that return the first character of the string passed to it as argument
mystring=input("enter the name")
print(mystring)
#string[0]
print((lambda string:string[0])(mystring))

enter the namepooja
pooja
p

In [ ]:
mystring=input("enter the name")
print(mystring)
#string[0]
print((lambda string:string[-1])(mystring))

enter the namepooja
pooja
a

In [ ]:
#wap a lambda function that return true and false depending on whether the no. passed to its argument is even or odd
#even mean True
#odd means false
def evenorodd(n):
  if n%2==0:
    print("number is even")
  else:
    print("number is odd")

In [ ]:
evenorodd(1100)

number is even

In [ ]:
evenorodd=lambda n: n%2==0
evenorodd(4)

True

#Map function

In [ ]:
#map(funct,itrable)

#iterables =string,list ,set,dict,range,tuple

In [ ]:
def squre(n):
   return n**2
mylist=[1,2,3,4,5]
for i in mylist:
      print(squre(i))

1
4
9
16
25

In [ ]:
for i in mylist:
  print(i)

1
2
3
4
5

In [ ]:
map(squre,mylist)

In [ ]:
list(map(squre,mylist))

[1, 4, 9, 16, 25]

In [ ]:
#wap called inspect()that accepts a string as argument and return the word even if the string is of
#even length and returns it's first character if the sting is of odd length

In [ ]:
#with map function
def inspect(mystring):
  if len(mystring)%2==0:
    return "Even"
  else:
    return mystring[0]
mylist=["january","febraury","march"]
list(map(inspect,mylist))

['j', 'Even', 'm']

In [ ]:
map(funct,iterable)

#Filterin

In [ ]:
#it is filter out the value
filter (funct,iterable)

In [ ]:
mylist=[1,2,3,4,5,6,8,10,12]
#i want to filter only even number
def check_even(n):
  return n%2==0
check_even(10)

True

In [ ]:
#i want to filter only even number
def check_even(n):
    return n%2==0
mylist=[1,2,3,4,5,6,8,10]
for i in mylist:
     print(check_even(i))

False
True
False
True
False
True
True
True

In [ ]:
list(filter(check_even,mylist))

[2, 4, 6, 8, 10]

In [ ]:
#wap to a lambda expression that accepts a string as argument and return first charater
list(map(lambda string:string[0],["jan","feb","mar"]))

['j', 'f', 'm']

#OOP(object oriented programming)

1.Encapsulation
2.Inheritance
3.Abstraction
4.Polymorphism

oop is the way of developing program.created classes and object.

#Class

In [ ]:
#1.how to define class and object in pytho
#2.variables in class
#(a)instance variable
#(b)local variable
#(c)class variable
#3.methods in class
#constructor()this is spwcial methods
#(a)instance method
#(b)class method
#(c)static methods

In [ ]:
class emp:#class
  pass

Rohit=emp()#object

In [ ]:
class emp:
  def __init__(self):#__ special function of class
     print("object created")

In [ ]:
Rohit=emp()

object created

In [ ]:
amit=emp()#object creation

object created

In [ ]:
ram=emp()#object creation

object created

In [ ]:
#constructor are those method which will be call immedatily whenever create a object

In [ ]:
#init is the special method in python or constructor which will be called automatically
#whenever object is create

In [ ]:
class emp:
  def __init__(self):#__ special function of class
     print("object created")
  def test(sunny):
    print("python is fun")

  def demo(self):
    print("python rock")

In [ ]:
ram=emp()

object created

In [ ]:
ram.test()

python is fun

In [ ]:
ram.demo()

python rock

In [ ]:
class emp():
  def __int__(self):
      print("object created")
  def test():
      print("tested")
  def demo():
      print("checking")

In [ ]:
sunny=emp()

In [ ]:
class emp:
  def __init__(self):
    self.age=25
    self.name="Rohit"
    self.salary=25000

In [ ]:
rahul=emp()

In [ ]:
rahul.age

25

In [ ]:
rahul.name

'Rohit'

In [ ]:
sunny=emp()

In [ ]:
sunny.age

25

In [ ]:
class emp:
  def __init__(self,a,b,c):
    self.age=a
    self.name=b
    self.salary=c
  def show(self):
    print(self.age,self.name,self.salary)

In [ ]:
sunny=emp(25,"Rohit",24990)

In [ ]:
ram=emp(26,"rmm",20000)

In [ ]:
sunny.show()

25 Rohit 24990

In [ ]:
sunny.age

25

In [ ]:
sunny.name

'Rohit'